body {
  background-color: #f7f9fd;
  font-size: 18px;
  font-family: 'Open+Sans',sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
}

.background-style {
  position: absolute;
  background-color: red;
}

.svg-style {
  position: absolute;
  background-color: blue;
}

.mockups {

}

.user-img {
  float: left;
}
