body {
  background-color: #f7f9fd;
  font-size: 18px;
  font-family: 'Open+Sans',sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
}

.top-section-style {
  position: relative;
  xbackground-color: red;
  width: 1440px;
  margin: auto;
}

.svg-style {
  xbackground-color: blue;
}

.mockups {
position: absolute;
top: 245px;
left: 320px;
}

.user-img {
  float: left;
}
